---
import TypeWriter from '$lib/components/TypeWriter.svelte';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}  />
	</head>
	<bod class="m-0">
		<Header title={SITE_TITLE} />
		<main>
		
			<section class="">
				<div
					class="relative mt-2 flex flex-col items-center justify-center md:mt-6 md:flex-row"
				>
					<div class="flex flex-col items-center justify-center p-2 py-4 px-5">
						<h1
							class=" flex flex-col bg-gradient-to-r from-[#c1121f] to-[#669bbc] bg-clip-text p-2 text-5xl font-semibold text-transparent md:block lg:p-5 lg:text-7xl"
						>
							 <span class="py-2"><TypeWriter client:load /></span>
						</h1>
					</div>
				</div>
			</section>

		</main>
	</bod>
</html>
