---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, title, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');

---

<a class={` ${isActive ? 'font-bold' : 'font-normal'} px-3`} href={href} {...props}>
	<slot />
	{title}
</a>
