---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="h-full flex bg-[#fdf0d5] text-[#669bbc] w-screen py-4" >
	<h2 class="ml-14 text-2xl">
		{SITE_TITLE}
	</h2>
	<nav class="text-right mr-20   w-full " >
		<HeaderLink href="/" title="Home"></HeaderLink>
		<HeaderLink href="/blog" title="Blog" />
		<HeaderLink href="/about" title="About" />
	
	</nav>
</header>

